[submodule "modules/robot-core"]
	path = modules/robot-core
	url = https://github.com/dynapp/robot-core.git
[submodule "modules/dynapp-module-maven"]
	path = modules/dynapp-module-maven
	url = https://github.com/dynapp/dynapp-module-maven.git
